body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #f5f5f5;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
  background: #3e2723;
  color: white;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
}

.hero {
  height: 90vh;
  background: url('../images/hero.jpg') center/cover;
  color: white;
  text-align: center;
  padding-top: 200px;
}

.btn {
  background: #ff9800;
  padding: 10px 20px;
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.menu {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.card {
  background: white;
  padding: 20px;
  width: 200px;
  text-align: center;
  border-radius: 10px;
}

footer {
  background: #3e2723;
  color: white;
  text-align: center;
  padding: 10px;
}
